---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Roomiesfy">
	<Header />
	<main class="hero rel fcc">
		<div class="text fcol fc">
			<svg width="214" height="235" viewBox="0 0 214 235" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M200.982 118.314C200.982 119.602 200.363 120.91 199.077 122.229C197.79 123.551 195.865 124.85 193.343 126.102C188.3 128.607 180.971 130.876 171.873 132.787C153.685 136.607 128.536 138.973 100.741 138.973C72.9459 138.973 47.7968 136.607 29.6091 132.787C20.5112 130.876 13.1818 128.607 8.13911 126.102C5.61682 124.85 3.69235 123.551 2.40483 122.229C1.11908 120.91 0.5 119.602 0.5 118.314C0.5 117.026 1.11908 115.718 2.40483 114.399C3.69235 113.077 5.61682 111.778 8.13911 110.526C13.1818 108.021 20.5112 105.752 29.6091 103.841C47.7968 100.021 72.9459 97.6545 100.741 97.6545C128.536 97.6545 153.685 100.021 171.873 103.841C180.971 105.752 188.3 108.021 193.343 110.526C195.865 111.778 197.79 113.077 199.077 114.399C200.363 115.718 200.982 117.026 200.982 118.314Z" stroke="black"/>
				<path d="M200.982 133.215C200.982 134.503 200.363 135.811 199.077 137.13C197.79 138.452 195.865 139.751 193.343 141.003C188.3 143.508 180.971 145.777 171.873 147.688C153.685 151.508 128.536 153.874 100.741 153.874C72.9459 153.874 47.7968 151.508 29.6091 147.688C20.5112 145.777 13.1818 143.508 8.13911 141.003C5.61682 139.751 3.69235 138.452 2.40483 137.13C1.11908 135.811 0.5 134.503 0.5 133.215C0.5 131.927 1.11908 130.619 2.40483 129.3C3.69235 127.978 5.61682 126.679 8.13911 125.427C13.1818 122.922 20.5112 120.653 29.6091 118.742C47.7968 114.922 72.9459 112.556 100.741 112.556C128.536 112.556 153.685 114.922 171.873 118.742C180.971 120.653 188.3 122.922 193.343 125.427C195.865 126.679 197.79 127.978 199.077 129.3C200.363 130.619 200.982 131.927 200.982 133.215Z" stroke="black"/>
				<path d="M200.982 148.116C200.982 149.404 200.363 150.712 199.077 152.031C197.79 153.353 195.865 154.652 193.343 155.904C188.3 158.409 180.971 160.678 171.873 162.589C153.685 166.409 128.536 168.775 100.741 168.775C72.9459 168.775 47.7968 166.409 29.6091 162.589C20.5112 160.678 13.1818 158.409 8.13911 155.904C5.61682 154.652 3.69235 153.353 2.40483 152.031C1.11908 150.712 0.5 149.404 0.5 148.116C0.5 146.828 1.11908 145.52 2.40483 144.201C3.69235 142.879 5.61682 141.58 8.13911 140.328C13.1818 137.823 20.5112 135.554 29.6091 133.643C47.7968 129.823 72.9459 127.457 100.741 127.457C128.536 127.457 153.685 129.823 171.873 133.643C180.971 135.554 188.3 137.823 193.343 140.328C195.865 141.58 197.79 142.879 199.077 144.201C200.363 145.52 200.982 146.828 200.982 148.116Z" stroke="black"/>
				<path d="M150.223 39.7506L150.391 40.6559L151.059 40.0221L178.364 14.1148L162.16 48.0868L161.764 48.918L162.677 48.7978L199.997 43.8864L166.917 61.8468L166.108 62.2862L166.917 62.7256L199.997 80.686L162.677 75.7746L161.764 75.6545L162.16 76.4856L178.364 110.458L151.059 84.5503L150.391 83.9166L150.223 84.8219L143.362 121.83L136.501 84.8219L136.333 83.9166L135.665 84.5503L108.36 110.458L124.564 76.4856L124.96 75.6545L124.047 75.7746L86.7275 80.686L119.807 62.7256L120.616 62.2862L119.807 61.8468L86.7275 43.8864L124.047 48.7978L124.96 48.918L124.564 48.0868L108.36 14.1148L135.665 40.0221L136.333 40.6559L136.501 39.7506L143.362 2.74291L150.223 39.7506Z" stroke="black"/>
				<path d="M165.12 105.499L175.724 132.357L203.336 123.901L188.947 148.937L212.774 165.25L184.228 169.611L186.328 198.41L165.12 178.812L143.911 198.41L146.012 169.611L117.465 165.25L141.292 148.937L126.904 123.901L154.516 132.357L165.12 105.499Z" fill="#D9D9D9"/>
				<path d="M66.8792 182.449L80.5536 157.355L94.3379 182.449L119.38 196.177L94.3379 209.905L80.5536 235L66.8792 209.905L41.7271 196.177L66.8792 182.449Z" fill="#76E2D5"/>
				<path d="M127.661 111.162C127.661 131.459 111.205 147.914 90.9052 147.914C70.6052 147.914 54.1489 131.459 54.1489 111.162C54.1489 90.8638 70.6052 74.4091 90.9052 74.4091C111.205 74.4091 127.661 90.8638 127.661 111.162Z" fill="black" stroke="black"/>
				<ellipse cx="78.6851" cy="103.115" rx="5.961" ry="11.9208" fill="white"/>
				<ellipse cx="103.125" cy="103.115" rx="5.961" ry="11.9208" fill="white"/>
			</svg>
			<h1>Gracias por anotarte!</h1>
			<p>Te mandaremos noticias y novedades sobre <strong>Roomiesfy</strong> a este correo: <strong id="correo">ejemplo@correo.com</strong></p>
			<a href="/" class="btn btn-outline" data-text="Al Inicio">Regresar</a>
		</div>
	</main>
	<Footer />
</Layout>
<script>
	// Función para obtener el valor de un parámetro en la URL
	function getQueryParameter(name: string) {
		const urlParams = new URLSearchParams(window.location.search);
		return urlParams.get(name);
	}

	// Obtén el correo de los query parameters
	const email = getQueryParameter('email');

	// Actualiza el contenido del elemento <strong> si hay un correo válido
	if (email) {
		const correoElement = document.getElementById('correo') as HTMLElement;
		correoElement.textContent = email;
	}
</script>

<style>
	.hero {
		text-align: center;
		width: 100%;
		max-width: 1288px;
		margin: auto;
		padding-inline: 24px;

		padding-top: 108px;
		min-height: 90dvh;
		gap: 64px;
	}
	.text {
		width: 100%;
		max-width: 700px;
	}
	.fcol {
		gap: 24px;
	}
	.btns {
		gap: 12px;
	}
	h1 {
		font-size: 60px;
		line-height: 1;
		color: var(--blue);
	}
	@media (max-width: 700px) {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 20px;
		}
		.btns {
			align-items: stretch;
			flex-direction: column;
		}
		.space {
			margin-bottom: 24px;
		}
	}
</style>
<!-- <style>
	input {
		background: white;
		opacity: 1;
	}
	section {
		width: 100%;
		max-width: 1288px;
		margin: auto;
		padding-inline: 24px;
	}
	section header {
		display: flex;
		align-items: flex-start;
		gap: 36px;
		padding-bottom: 72px;
	}
	section header h1 {
		flex-shrink: 0;
		display: inline;
		font-weight: 500;
		flex-shrink: 0;	
		padding: 4px 20px;
		border-radius: 64px;
		background: #A7EDE4;
		box-shadow: -12px 0px #BBF2EA, -24px 0px #D7F7F3;
		margin-left: 24px;
	}
	.demo {
		video {
			width: 100%;
			border-radius: 48px;
		}
	}
	@media (max-width: 1000px) {
		section header {
			padding-bottom: 36px;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	@media (max-width: 700px) {
		.demo {
			video {
				border-radius: 24px;
			}
		}
	}
</style> -->