<div class="ma">
	<footer class="fcol">
		<div class="fc between">
			<svg id="title" width="180" height="30" viewBox="0 0 261 44" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M24.3134 27.9471C23.1051 27.3987 21.6831 27.9308 21.1406 29.1341C19.2337 33.3173 15.4117 34.7007 12.4855 34.6271C9.6827 34.5452 6.14833 33.0717 4.64417 29.1751C4.16744 27.9389 2.78657 27.325 1.54543 27.7998C0.312506 28.2746 -0.312174 29.6581 0.164556 30.886C2.12079 35.9696 6.78945 39.2359 12.3376 39.3996C12.4855 39.3996 12.6253 39.3996 12.7732 39.3996C18.3049 39.3996 23.1626 36.2479 25.5052 31.107C26.0559 29.9036 25.5216 28.4874 24.3134 27.9471Z"/>
				<path d="M40.3821 8.28395L27.9789 2.7992C27.272 2.29984 26.3186 2.19342 25.4966 2.6191L16.0853 7.46533V4.91942C16.0853 3.60145 15.0086 2.52905 13.6852 2.52905C12.3619 2.52905 11.2852 3.60145 11.2852 4.91942V27.2514C11.2852 28.5693 12.3619 29.6417 13.6852 29.6417C15.0086 29.6417 16.0853 28.5693 16.0853 27.2514V12.8437L26.6145 7.4244L38.4341 12.6472C38.7464 12.7864 39.0834 12.8518 39.404 12.8518C40.3246 12.8518 41.204 12.3197 41.5986 11.4274C42.1328 10.2241 41.5904 8.80787 40.3821 8.27576V8.28395Z"/>
				<path d="M148.723 14.751C146.208 12.9582 143.857 12.1396 140.709 12.4834C137.224 12.86 134.01 15.7989 132.991 19.0733C132.226 21.5374 132.226 29.2242 132.498 31.9666C132.835 35.3966 137.018 36.1989 138.366 33.5383C139.468 31.3526 138.35 24.2306 138.81 21.3082C139.435 17.3133 145.221 17.4197 145.583 21.6192C145.854 24.7873 144.942 30.6568 145.969 33.3664C146.956 35.9615 151.542 35.6504 151.855 32.3432C152.142 29.3061 151.139 22.3151 152.529 19.982C153.909 17.6653 157.682 18.1237 158.57 20.6451C159.474 23.2074 158.537 29.0932 158.841 32.1549C159.219 35.9123 164.25 35.9287 164.891 33.0062C165.417 30.6241 165.326 22.8799 164.915 20.3995C163.641 12.77 154.542 10.0194 148.715 14.7592L148.723 14.751Z"/>
				<path d="M92.8472 12.4834C77.8056 13.5804 79.4823 36.8292 94.9432 35.4457C109.582 34.1441 108.226 11.3619 92.8472 12.4834ZM94.7459 29.0032C87.1347 29.92 86.5839 19.4744 93.028 18.7213C100.335 17.8618 100.943 28.25 94.7459 29.0032Z"/>
				<path d="M117.695 12.4834C102.587 13.5476 104.264 36.8292 119.791 35.4457C134.347 34.1441 133.04 11.4028 117.695 12.4834ZM117.506 28.9786C112.056 28.1845 111.883 19.4253 117.867 18.7213C125.783 17.7963 125.889 30.1983 117.506 28.9786Z"/>
				<path d="M254.598 12.9337C252.066 11.7385 250.949 13.3839 249.962 15.3486C248.507 18.2629 247.143 21.6111 245.836 24.6236C245.746 24.8364 245.688 25.0493 245.688 25.2867C245.4 25.213 245.294 24.8774 245.179 24.64C243.543 21.4392 242.285 17.2969 240.535 14.2762C240.115 13.564 239.474 12.7618 238.603 12.6308C235.488 12.1478 233.606 14.8984 235.217 17.608L242.417 32.3677C242.458 32.8016 241.282 35.3557 240.896 35.6504C239.844 36.4526 237.83 35.2329 236.293 35.4785C234.033 35.8305 233.606 39.064 235.027 40.644C237.806 43.7384 243.518 42.5759 245.483 39.0886C248.664 32.1467 252.527 25.4177 255.527 18.3939C256.365 16.4374 257.006 14.0716 254.598 12.9419V12.9337Z"/>
				<path d="M232.159 4.36272C229.997 3.17572 226.578 3.11842 224.449 4.42821C221.433 6.29466 221.556 9.5937 221.441 12.7699C219.312 12.95 217.849 14.1207 218.276 16.4046C218.646 18.3939 221.392 18.2956 221.466 18.6149V32.4905C221.926 35.7732 226.759 36.0433 227.507 32.8179L227.548 18.4921C229.249 18.4757 231.156 18.7295 232.11 17.0513C233.877 13.9324 230.219 12.2706 227.548 12.7781C227.655 11.9923 227.548 9.81473 228.165 9.37267C228.97 8.79964 229.759 9.79017 230.515 9.91296C234.214 10.5024 235.258 6.05726 232.151 4.35454L232.159 4.36272Z"/>
				<path d="M170.883 3.36399C165.187 3.67507 166.987 12.6553 172.477 10.5024C176.283 9.01246 174.927 3.14296 170.883 3.36399Z"/>
				<path d="M73.3257 24.951C73.0955 24.7709 72.8407 24.6072 72.5448 24.5581L72.6517 24.1979C81.9314 21.3327 81.241 9.07796 73.2024 5.08309C70.3995 3.69144 63.7993 3.61776 60.6184 3.86335C59.5663 3.94521 58.6786 4.1908 58.0046 4.68197C57.2402 5.23045 56.7552 6.09818 56.6155 7.37523C56.821 10.6906 56.7141 14.178 56.5908 17.6735V31.3853C56.5908 31.3853 56.5908 31.4263 56.5908 31.4426C56.8127 33.9312 58.4155 35.0528 60.0512 35.1019C61.7526 35.1592 63.4787 34.0622 63.7582 32.163C64.0212 30.3211 63.5609 27.9144 63.7582 26.007L73.3503 33.8494C76.2847 36.7146 81.052 33.8658 79.3259 30.0428C78.5532 28.3319 74.9367 26.2362 73.3174 24.9674L73.3257 24.951ZM68.6981 19.7446H63.7746V10.4696H68.3447C68.5337 10.4696 69.7831 10.9526 70.0543 11.0918C74.312 13.1874 72.5202 19.7528 68.7063 19.7528L68.6981 19.7446Z"/>
				<path d="M170.16 12.6472C169.535 12.7782 168.861 13.3512 168.458 14.0061C168.244 14.3417 168.105 14.7019 168.072 15.0294V32.6297C168.105 32.8671 168.162 33.0799 168.244 33.2764C169.157 35.6586 172.93 35.6913 173.949 33.2764C174.08 32.9653 174.13 32.6297 174.13 32.2941V15.1031C174.08 14.6856 173.949 14.3254 173.768 14.0061C173.094 12.8191 171.631 12.3443 170.151 12.6472H170.16Z"/>
				<path d="M195.361 15.2094C191.777 11.894 185.999 11.6894 182.045 14.3581C171.845 21.2427 177.771 36.3462 189.993 35.0773C192.336 34.8317 196.799 32.7688 196.98 30.1083C197.144 27.7998 195.213 26.5228 193.018 26.8666C192.13 27.0057 191.201 28.0454 190.33 28.3974C188.941 28.9541 187.462 28.9377 186.105 28.2992C185.867 28.1846 185.325 27.7998 185.177 27.5624L195.78 22.9454C196.117 22.7571 196.848 22.315 197.087 22.0613C198.878 20.1293 196.963 16.6829 195.369 15.2094H195.361ZM183.401 22.9945C183.492 20.1375 186.508 18.091 189.262 18.6476C189.788 18.7541 190.659 19.2698 190.799 19.8346L183.401 22.9945Z"/>
				<path d="M207.78 12.0741C210.32 11.9513 214.092 12.6226 215.613 14.8902C217.257 17.346 214.857 19.9083 212.087 19.1142C210.936 18.7868 207.78 16.2 207.007 17.9191C206.144 19.8264 211.29 20.5796 212.399 20.9479C216.468 22.2905 218.679 25.1147 217.421 29.5353C215.465 36.4199 204.632 36.6491 200.456 31.942C198.171 29.3634 199.182 25.172 203.013 25.8187C205.544 26.2444 206.67 29.8955 209.983 29.0932C211.158 28.8067 211.528 27.2186 210.492 26.5882C209.292 25.8597 206.44 25.4749 204.895 24.8364C197.3 21.6683 199.659 12.4589 207.78 12.0577V12.0741Z"/>
			</svg>
			<nav class="fc links">
				<a href="/#que" class="link">Sobre nosotros</a>
				<a href="/#beneficios" class="link">Beneficios</a>
				<a href="/#testimonios" class="link">Testimonios</a>
				<a href="/#demo" class="link">Demo</a>
			</nav>
			<nav class="fc social">
				<a href="https://www.tiktok.com/@roomiesfy?lang=es" aria-label="TikTok" title="TikTok" target="_blank">
					<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28 13.3277C25.289 13.5775 22.5717 12.3003 21.0449 9.9835C21.0449 15.3192 21.0449 21.3918 21.0449 21.4933C21.0449 26.192 17.2281 30 12.5225 30C7.81679 29.9982 4 26.1885 4 21.4915C4 16.5499 8.30453 12.724 13.0484 13.011V17.204C10.5501 16.9048 8.17269 18.8473 8.17269 21.4933C8.17269 23.8908 10.1188 25.835 12.5225 25.835C14.9261 25.835 17.0476 23.945 17.0476 21.5475C17.0476 21.4513 17.0896 2 17.0896 2H21.1028C21.4797 5.58225 24.3778 8.41025 28 8.66925V13.3277Z" fill="currentColor"/>
					</svg>
				</a>
				<a href="https://www.facebook.com/profile.php?id=61568578276840" aria-label="Facebook" title="Facebook" target="_blank">
					<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M31 16.0913C31 7.75456 24.2863 1 16 1C7.71371 1 1 7.75456 1 16.0913C1 23.6369 6.44355 29.9047 13.6411 31V20.4726H9.83064V16.0913H13.6411V12.8053C13.6411 9.03245 15.879 6.90264 19.2661 6.90264C20.9597 6.90264 22.6532 7.2069 22.6532 7.2069V10.9189H20.7782C17.7931 10.9189 18.2984 14.0061 18.2984 16.0913H22.4718L21.8065 20.4726H18.2984V31C25.496 29.9047 31 23.6369 31 16.0913Z" fill="currentColor"/>
					</svg>
				</a>
				<a href="https://www.instagram.com/roomiesfy/" aria-label="Instagram" title="Instagram" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
				</a>
				<a href="https://www.linkedin.com/company/roomiesfy/?viewAsMember=true" aria-label="Linkedin" title="Linkedin" target="_blank">
					<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28.2727 1H3.72727C2.22045 1 1 2.22045 1 3.72727V28.2727C1 29.7795 2.22045 31 3.72727 31H28.2727C29.7795 31 31 29.7795 31 28.2727V3.72727C31 2.22045 29.7795 1 28.2727 1ZM10.4827 25.5455H6.46V12.6018H10.4827V25.5455ZM8.43046 10.7514C7.13364 10.7514 6.085 9.7 6.085 8.40591C6.085 7.11182 7.135 6.06182 8.43046 6.06182C9.72318 6.06182 10.7745 7.11318 10.7745 8.40591C10.7745 9.7 9.72318 10.7514 8.43046 10.7514ZM25.5509 25.5455H21.5309V19.2509C21.5309 17.7495 21.5036 15.8186 19.4405 15.8186C17.3473 15.8186 17.0255 17.4536 17.0255 19.1418V25.5455H13.0055V12.6018H16.8645V14.3705H16.9191C17.4564 13.3532 18.7682 12.28 20.725 12.28C24.7982 12.28 25.5509 14.9609 25.5509 18.4464V25.5455Z" fill="currentColor"/>
					</svg>
				</a>
			</nav>
		</div>
		<div class="fs topo g48">
			<address class="grow fcol fs g24">
				<p>La app que conecta a personas compatibles para compartir hogar de forma segura, eficiente y divertida.</p>
				<a href="/#" class="btn" data-text="Contáctanos">Contáctanos</a>
				<div class="fcol g12">
					<a href="mailto:info@rommiesfy.com" class="fc g8">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
						info@rommiesfy.com
					</a>
					<a href="tel:+51987654321" class="fc g8">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
						+51 987 654 321
					</a>
				</div>
			</address>
			<form id="form_footer" action="/" class="grow fc g24">
				<input type="email" name="email" placeholder="Email" class="grow">
				<button type="submit" id="footer_btn" class="btn" data-text="Notificarme">Notificarme</button>
			</form>
		</div>
		<hr/>
		<a href="/#">Política de Privacidad</a>
	</footer>
</div>
<script>
	const form2 = document.getElementById("form_footer") as HTMLFormElement;
	const btn = document.getElementById("footer_btn") as HTMLButtonElement;

	form2.addEventListener("submit", async (event) => {
		event.preventDefault();

		const url = "https://script.google.com/macros/s/AKfycbyZk60WCQl7Ym-djrZSaA1SQgAMMYK8hBFIOqcoIFOLMlc5Oy70XwH0QlOgTFoNenPg7g/exec";
		const formData = new FormData(form2);

		const data = {
			name: "-",
			email: formData.get("email"),
			city: "-",
			noti: true
		};

		try {
			btn.innerText = "Cargando";
			btn.setAttribute("data-text", "Cargando");
			btn.classList.add("loading");

			await fetch(url, {
				method: "POST",
				mode: "no-cors",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(data)
			});

			window.location.href = `/gracias?email=${encodeURIComponent(data.email as string)}`;
		} catch (error) {
			console.error("Error:", error);
		} finally {
			btn.innerText = "Notificarme";
			btn.setAttribute("data-text", "Notificarme");
			btn.classList.remove("loading");
		}
	});
</script>

<style>
	.ma {
		font-size: 18px !important;
		width: 100%;
    max-width: 1288px;
    margin: auto;
    padding-inline: 24px;
	}
	.ma * {
		font-size: inherit;
	}
	input {
		width: 100%;
	}
	.g48 { gap: 48px }
	.g24 { gap: 24px }
	.g16 { gap: 16px }
	.g12 { gap: 12px }
	.g8 { gap: 8px }
	form {
		background: #163742;
		padding: 48px;
		border-radius: 16px;
	}
	hr {
		width: 100%;
		border: 1px solid white;
	}
	address {
		font-style: normal;
	}
	footer {
		padding: 64px;
		background: var(--blue);
		color: white;
		border-radius: 48px 48px 0 0;
	}
	nav {
		gap: 24px;
	}
	a {
		text-align: center;
		padding: 0 8px;
	}
	a:hover, a:focus {
		outline: none;
		color: var(--sky);
	}
	address .btn {
		padding: 4px 16px;
		border-radius: 50px;
	}
	address .btn::before {
		background: white;
	}
	address .btn::after {
		color: var(--blue);
	}
	.btn:focus {
		color: var(--blue);
		outline: 4px solid #1c5163;
	}
	.ma {
		padding-inline: 24px;
	}
	.ma>.fcol {
		gap: 48px;
	}
	@media (max-width: 1000px) {
		.topo {
			flex-direction: column;
			align-items: stretch;
		}
		header {
			padding: 32px 24px;
		}
		.links {
			display: none;
		}
	}
	@media (max-width: 700px) {
		p {
			text-align: center;
		}
		address>.btn {
			align-self: center;
		}
		footer {
			border-radius: 0;
			padding: 48px 24px 24px;
		}
		form {
			padding: 24px;
			align-items: stretch;
		}
		form, .between {
			flex-direction: column;
		}
		.between {
			gap: 24px;
		}
		.ma {
			padding-inline: 0px;
		}
		.ma>.fcol {
			align-items: center;
		}
		#title {
			height: 32px;
			width: auto;
		}
	}
</style>