<header id="header">
	<div class="fc between ma">
		<a href="/" aria-label="Inicio" id="title">
			<svg width="262" height="44" viewBox="0 0 262 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M22.1406 29.1343C19.0082 36.0058 8.52363 36.6346 5.64414 29.1752C4.53468 26.2985 0.0481573 28.0107 1.16453 30.8861C5.59113 42.3894 21.6352 41.7945 26.5052 31.1071C27.7908 28.2981 23.4061 26.3272 22.1406 29.1343Z" fill="#0C2E39"/>
				<path d="M41.3823 8.28395L28.9791 2.7992C28.2723 2.29984 27.3188 2.19342 26.4968 2.6191L17.0856 7.46533V4.91942C17.0856 1.83583 12.2854 1.8358 12.2854 4.91942V27.2514C12.2854 30.3349 17.0856 30.3349 17.0856 27.2514V12.8437L27.6147 7.4244L39.4343 12.6472C42.3691 13.9553 44.5 10 41.3823 8.28395Z" fill="#0C2E39"/>
				<path d="M149.723 14.7511C144.301 10.886 136.182 12.0323 133.991 19.0734C133.227 21.5374 133.227 29.2243 133.498 31.9667C133.835 35.3967 138.019 36.1989 139.367 33.5384C140.468 31.3527 139.35 24.2307 139.81 21.3082C140.435 17.3134 146.222 17.4198 146.583 21.6193C146.854 24.7874 145.942 30.6569 146.97 33.3665C147.956 35.9615 152.542 35.6504 152.855 32.3432C153.142 29.3061 152.14 22.3151 153.529 19.9821C154.91 17.6654 158.682 18.1238 159.57 20.6451C160.474 23.2074 159.537 29.0933 159.841 32.1549C160.219 35.9124 165.25 35.9288 165.891 33.0063C166.417 30.6241 166.326 22.88 165.915 20.3996C164.641 12.77 155.542 10.0195 149.715 14.7593L149.723 14.7511Z" fill="#0C2E39"/>
				<path d="M93.8472 12.4836C78.8056 13.5805 80.4823 36.8293 95.9432 35.4458C110.582 34.1442 109.226 11.362 93.8472 12.4836ZM95.7459 29.0033C88.1347 29.9201 87.5839 19.4746 94.028 18.7214C101.335 17.8619 101.943 28.2502 95.7459 29.0033Z" fill="#0C2E39"/>
				<path d="M118.695 12.4835C103.587 13.5477 105.264 36.8292 120.791 35.4458C135.347 34.1441 134.04 11.4029 118.695 12.4835ZM118.506 28.9787C113.056 28.1846 112.883 19.4254 118.867 18.7214C126.783 17.7963 126.889 30.1984 118.506 28.9787Z" fill="#0C2E39"/>
				<path d="M250.962 15.3487C249.658 17.9629 248 22.5 246.688 25.2867C246.401 25.2131 246.294 24.8774 246.179 24.64C244.543 21.4392 243.285 17.297 241.535 14.2763C239.4 10.6564 233.906 13.7212 236.217 17.6081L243.417 32.3678C243.458 32.8017 242.283 35.3558 241.896 35.6505C240.844 36.4527 238.83 35.233 237.293 35.4785C235.033 35.8306 234.606 39.0641 236.028 40.644C238.806 43.7384 244.518 42.576 246.483 39.0887C249.664 32.1468 253.527 25.4177 256.527 18.394C258.645 13.4489 253.559 10.18 250.962 15.3487Z" fill="#0C2E39"/>
				<path d="M233.159 4.36278C230.997 3.17578 227.578 3.11848 225.449 4.42827C222.433 6.29472 222.556 9.59376 222.441 12.77C220.312 12.9501 218.849 14.1207 219.276 16.4047C219.646 18.3939 222.391 18.2957 222.465 18.615V32.4906C222.926 35.7732 227.759 36.0434 228.507 32.818L228.548 18.4922C230.249 18.4758 232.156 18.7296 233.11 17.0514C234.877 13.9324 231.219 12.2706 228.548 12.7782C228.655 11.9923 228.548 9.81479 229.164 9.37273C229.97 8.7997 230.759 9.79023 231.515 9.91302C235.214 10.5024 236.258 6.05732 233.151 4.3546L233.159 4.36278Z" fill="#0C2E39"/>
				<path d="M171.883 3.36411C166.187 3.67519 167.987 12.6554 173.477 10.5025C177.283 9.01259 175.927 3.14308 171.883 3.36411Z" fill="#0C2E39"/>
				<path d="M73.5451 24.5582L73.6519 24.198C82.9317 21.3328 82.2413 9.07808 74.2026 5.08322C71.3998 3.69156 64.7995 3.61789 61.6186 3.86347C59.3796 4.03768 57.8794 4.96627 57.6157 7.37535C57.5911 15.5 57.5911 23.4213 57.5911 31.3855C57.5911 31.3855 57.5911 31.4264 57.5911 31.4428C57.813 33.9314 59.4158 35.0529 61.0515 35.102C62.7529 35.1593 64.479 34.0623 64.7584 32.1632C65.0215 30.3213 64.5612 27.9145 64.7584 26.0071L74.3506 33.8495C77.2849 36.7147 82.0522 33.8659 80.3261 30.0429C79.5215 28.2612 75.5 26.0071 73.5451 24.5582ZM64.7749 19.7447V10.4697H69.3449C76.5 10.4697 75.0975 19.7529 69.7066 19.7529L64.7749 19.7447Z" fill="#0C2E39"/>
				<path d="M169.072 15.0294V32.6297C169.543 36.0148 175.13 35.6891 175.13 32.2941V15.1031C174.743 11.8689 169.414 11.6383 169.072 15.0294Z" fill="#0C2E39"/>
				<path d="M196.36 15.2096C192.777 11.8941 186.998 11.6895 183.045 14.3582C172.845 21.2428 178.771 36.3463 190.993 35.0775C193.336 34.8319 197.799 32.7689 197.98 30.1084C198.144 27.7999 196.212 26.5229 194.018 26.8667C193.13 27.0059 192.201 28.0455 191.33 28.3975C189.915 28.9646 187.144 29.115 186.176 27.5625L196.78 22.9455C200.5 21 198.724 17.3861 196.369 15.2096H196.36ZM184.401 22.9946C183.5 18.5 190.5 16 191.799 19.8348L184.401 22.9946Z" fill="#0C2E39"/>
				<path d="M208.78 12.0742C211.32 11.9514 215.093 12.6227 216.613 14.8903C218.257 17.3461 215.857 19.9084 213.087 19.1144C211.936 18.7869 208.78 16.2001 208.007 17.9192C207.144 19.8266 212.29 20.5797 213.399 20.9481C217.468 22.2906 219.679 25.1148 218.422 29.5354C216.465 36.42 205.632 36.6492 201.457 31.9421C199.172 29.3635 200.183 25.1721 204.013 25.8189C206.544 26.2445 207.67 29.8956 210.983 29.0933C212.158 28.8068 212.528 27.2187 211.493 26.5884C210.292 25.8598 207.44 25.475 205.895 24.8365C198.3 21.6685 200.659 12.459 208.78 12.0579V12.0742Z" fill="#0C2E39"/>
			</svg>
		</a>
		<nav class="fc">
			<a href="/#que" class="link">Sobre nosotros</a>
			<a href="/#beneficios" class="link">Beneficios</a>
			<a href="/#testimonios" class="link">Testimonios</a>
			<a href="/#demo" class="link">Demo</a>
			<a href="/#contacto" class="btn btn-outline" data-text="Notificarme">Notificarme</a>
		</nav>
		<button id="burger_btn" type="button" aria-label="Menú">
			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="var(--blue)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<line id="bar1" x1="4" x2="20" y1="12" y2="12"/>
				<line id="bar2" x1="4" x2="20" y1="6" y2="6"/>
				<line id="bar3" x1="4" x2="20" y1="18" y2="18"/>
			</svg>
		</button>
	</div>
</header>
<script>
	const header = document.querySelector('#header') as HTMLElement;
	const burger_btn = document.querySelector('#burger_btn') as HTMLButtonElement
	const links = document.querySelectorAll('#header .link');

	burger_btn.addEventListener('click', () => {
		header.classList.toggle('active')
	})

	links.forEach(link => {
		link.addEventListener('click', () => {
			if (header.classList.contains('active')) {
				header.classList.remove('active');
			}
		});
	});
</script>

<style>
	header {
		padding: 24px;
		background: var(--white);
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	nav {
		gap: 20px;
	}
	.ma {
		max-width: 1240px;
	}
	.link {
		text-align: center;
		padding: 0 8px;
		border-radius: 8px;
		will-change: background-position;
		background: linear-gradient(90deg, var(--sky) 50%, transparent 50%);
		background-size: 200% 100%;
		background-position: 100% 0;
		transition: 0.25s ease-out;
	}
	.link:hover {
		background-position: 0 0;
		scale: 1.05;
	}
	.btn-outline {
		padding: 14px 22px;
	}
	#burger_btn {
		display: none;
	}
	#burger_btn, line {
		transition: 0.2s ease-out;
	}
	@media (max-width: 1000px) {
		#title, #burger_btn {
			display: block;
			z-index: 1;
		}
		nav {
			position: absolute;
			width: 100%;
			height: 100dvh;
			inset: 0;

			flex-direction: column;
			justify-content: end;
			padding: 24px;

			background: var(--white);
			transform: translateX(-100%);
			transition: 0.2s ease-out;
		}
		.link {
			text-align: start;
		}
		.link, .btn-outline {
			width: 100%;
			font-size: 22px;
		}
		header.active {
			position: fixed;
			nav {
				transform: translateX(0);
			}
			#bar1 { opacity: 0 }
			#bar2 { transform: translate(8px, 0px) rotate(45deg) }
			#bar3 { transform: translate(-9px, 8px) rotate(-45deg) }
		}
	}
	@media (max-width: 700px) {
		#title svg{
			height: 32px;
			width: auto;
		}
	}
</style>