---
interface Props {
	num: string;
	text: string;
}

const { num, text } = Astro.props;
---

<article>
	<header class="fc between">
		<h1>Paso {num}</h1>
		<slot/>
	</header>
	<p>{text}</p>
</article>

<style>
	article {
		padding: 48px;
		background: var(--gray);
		border-radius: 48px;
		border: 1px solid var(--blue);
		box-shadow: 0 6px;
	}
	header {
		padding-bottom: 12px;
	}
	h1 {
		font-size: 60px;
		font-weight: 500;
	}
	@media (max-width: 1000px) {
		h1 {
			font-size: 48px;
		}
	}
	@media (max-width: 700px) {
		article {
			padding: 24px;
			border-radius: 36px;
		}
		h1 {
			font-size: 24px;
		}
		header :global(svg) {
			width: 32px;
			height: 32px;
		}
	}
</style>