---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-PE">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Roomiesfy" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="theme-color" content="#0c2e39" />

		<title>{title}</title>
		<meta name="description" content="Roomiesfy es la nueva app que facilita la búsqueda de roommates compatibles y seguros en Perú.">
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Roomiesfy es la nueva app que facilita la búsqueda de roommates compatibles y seguros en Perú." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.roomiesfy.com/" />
		<meta property="og:image" content="https://www.roomiesfy.com/og_image.jpg" />
		<meta property="og:image:secure_url" content="https://www.roomiesfy.com/og_image.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="1000" />
		<meta property="og:image:height" content="1000" />
		<meta property="og:image:alt" content="Logo de Roomiesfy">
		<meta property="og:site_name" content="Roomiesfy">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content="Roomiesfy es la nueva app que facilita la búsqueda de roommates compatibles y seguros en Perú.">
		<meta name="twitter:image" content="https://www.roomiesfy.com/og_image.jpg">
		<meta name="twitter:url" content="https://www.roomiesfy.com/">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*, *::after, *::before { margin: 0; box-sizing: border-box }
	:root {
		--blue: #0c2e39;
		--sky: #76E2D5;
		--gray: #F3F3F3;
		--white: white;

		color-scheme: only light;
		overflow-y: scroll;
		overflow-x: hidden;
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	:root, input, button {
		font: 400 20px/1.5 'Poppins', sans-serif;
	}
	::selection {
		background: #76e2d579;
	}
	::placeholder {
		color: var(--gray);
	}
	body {
		color: black;
		background: white;
		display: flex;
		flex-direction: column;
		gap: 144px;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	input {
		padding: 14px 22px;
		border-radius: 16px;
		border: 1px solid var(--gray);
		background: transparent;
		color: white;
	}
	input:focus {
		outline: 4px solid #1c5163;
		background: #0d2e39;
	}
	video, img, svg {
		display: block;
	}
	video, img {
		object-fit: cover;
	}
	strong {
		color: var(--text);
		font-weight: 600;
	}
	button {
		background: transparent;
		cursor: pointer;
		display: block;
		border: 0;
		padding: 0;
	}
	.fc {
		display: flex;
		align-items: center;
	}
	.fs {
		display: flex;
		align-items: flex-start;
	}
	.fcc {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.fcol {
		display: flex;
		flex-direction: column;
	}

	.rel { position: relative }
	.abs { position: absolute }

	.between {
		justify-content: space-between;
	}
	.g32 { gap: 32px }
	.p32 { padding: 32px }

	.grow {
		flex: 1;
	}
	.center {
		text-align: center;
	}
	.deco {
		position: absolute;
		z-index: -1;
	}
	.btn {
		padding: 16px 24px;
		color: var(--blue);
		background: var(--sky);
		text-align: center;
		border-radius: 14px;
		transition: 0.25s ease-out;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.btn-outline {
		padding: 14px 22px;
		border: 1px solid var(--blue);
		background: transparent;
		backdrop-filter: blur(4px);
	}
	.btn::before, .btn::after {
		position: absolute;
		left: 50%;
		top: 100%;
		transition: 0.25s ease-out;
	}
	.btn.loading {
		background: darkgray !important;
	}
	.btn.loading::before {
		background: darkgray;
	}
	.btn::before {
		content: '';
		display: block;
		width: 100%;
		height: auto;
		aspect-ratio: 1;
		border-radius: 50%;
		background: var(--blue);
		transform: translateX(-50%);
	}
	.btn::after {
		content: attr(data-text);
		transform: translateX(-50%);
		text-align: center;
		color: white;
		white-space: nowrap;
		z-index: 1;
	}
	.btn:hover::before {
		border-radius: 0px;
		top: 0;
	}
	.btn:hover::after {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.btn-outline:hover {
		background: var(--gray)
	}
	button:active, .btn:active {
		scale: 0.95;
	}
	.h1 {
		display: inline;
		font-weight: 500;
		flex-shrink: 0;	
		padding: 4px 20px;
		border-radius: 64px;
		background: #A7EDE4;
		box-shadow: -8px 0px #BBF2EA, -16px 0px #D7F7F3;
		margin-left: 16px;
	}
	.ma {
		max-width: 1272px;
		margin: auto;
	}
	@media (max-width: 700px) {
		.h1 {
			text-align: center;
		}
		:root, input, button {
			font-size: 18px;
		}
	}
</style>